[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle
[submodule "vim/colors/vim-distinguished"]
	path = vim/colors/vim-distinguished
	url = https://github.com/maistho/vim-distinguished
[submodule "bin/gibo"]
	path = bin/gibo
	url = https://github.com/simonwhitaker/gibo
[submodule "vim/vim"]
	path = vim/vim
	url = https://github.com/b4winckler/vim
[submodule "config/awesome/assault"]
	path = config/awesome/assault
	url = https://github.com/NuckChorris/assault.git
[submodule "config/awesome/apw"]
	path = config/awesome/apw
	url = https://github.com/mokasin/apw
