'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'ctrl-o': 'advanced-open-file:toggle'
'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-t': 'fuzzy-finder:toggle-file-finder'
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ':': 'ex-mode:open'
'body':
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
